*{
    margin: 0%;
    border: none;
}
.cont{
    margin-top: 20px;
    margin-left: 380px;
    background-color:rgb(0,0,0,0.2);
    display:inline-block;
    padding: 20px;
    border-radius: 10%;
}
.calculator{
    padding: 20px;
    justify-content:center;
    align-items: center;
    margin-top: 3%;
    display:grid ;
    grid-template-columns: repeat(4,100px);
    gap: 30px;
}
input{
    grid-column:span 3;
    width: 350px;
    padding:5px;
    font-size: 50px;
    text-align: end;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px white,
                      5px 5px 12px grey;
}
button{
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, gray,rgb(0,0,0,0.7));
    padding: 15px;
    border-radius: 50px;
    box-shadow: inset 0px 0px 0px white,
                      15px 5px 12px gray;
}
.cal{
    margin-left: 60px;
    font-size: 30px;
    width: 300px;
}
.clear{
    background-image: linear-gradient(to right,rgb(235, 184, 88),orange);
}